<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
  <input class="mdl-textfield__input" type="text" [(ngModel)]="value" id="inputField{{rand}}">
  <label class="mdl-textfield__label" for="inputField{{rand}}">{{title}}</label>
</div>