.wrappList {
    display:  flex;
    flex-direction: column;
    .item {
        background: #e6e6e6;
        color: black;
        margin: 4px 11px;
        padding: 5px 15px;
        display: flex;
        align-items: center;
        > div {
            margin: 0 5px;
            min-width: 100px;
            &.bold {
                font-weight: 600;
            }
            &.small {
                font-size: 14px;
            }
        }
        img {
            width: 70px;
        }
    }
}

