<div class="wrappList" *ngIf="data && data.length > 0">
    <a [routerLink]="[urlItem]" [queryParams]="{id: item.id}" class="item" *ngFor="let item of data">
        <div style="min-width: 20px;">{{item.id}}</div>
        <div style="min-width: 50px;">{{item.cost}} {{item.unit}}/р</div>
        <div>Всего: {{item.value}} {{item.unit}}</div>
        <div class="title bold" >{{item.title}}</div>
        <img [src]="item.img">
        <div class="title small" >{{item?.description}}</div>
    </a>
</div>