

<div style="margin: 0 auto" class="mdl-cell mdl-cell--5-col-desktop mdl-cell--5-col-tablet mdl-cell--4-col-phone">
  <base-card>
    <base-card-title>
      <h5 class="mdl-card__title-text text-color--white">{{pageTitle}}</h5>
    </base-card-title>
    <base-card-body>
      <div class="form form--basic">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--1-col-phone">
            <div class="profile-image color--smooth-gray profile-image--round">
              <img style="max-width: 100%" src="{{img}}">
            </div>
          </div>
          <div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone form__article">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
              <input class="mdl-textfield__input" type="text" [(ngModel)]="id" disabled="disabled">
              <label class="mdl-textfield__label" for="profile-floating-first-name">id</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
              <input class="mdl-textfield__input" type="text" [(ngModel)]="cost">
              <label class="mdl-textfield__label" for="profile-floating-last-name">Цена</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
              <input class="mdl-textfield__input" type="text" [(ngModel)]="unit">
              <label class="mdl-textfield__label" for="profile-floating-last-name">Единицы измерения</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
              <input class="mdl-textfield__input" type="text" [(ngModel)]="value">
              <label class="mdl-textfield__label" for="profile-floating-last-name">Значение</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
              <input class="mdl-textfield__input" type="text" [(ngModel)]="title">
              <label class="mdl-textfield__label" for="profile-floating-last-name">Название</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">

              <input class="mdl-textfield__input" [(ngModel)]="img" />
              <label class="mdl-textfield__label" for="profile-floating-last-name">Картинка</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">

              <input class="mdl-textfield__input" [(ngModel)]="description" />
              <label class="mdl-textfield__label" for="profile-floating-last-name">Описание</label>
            </div>

            <button *ngIf="_isView === undefined" (click)="onSave()"
              class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-green">
              Сохранить
            </button>
          </div>
        </div>
      </div>
    </base-card-body>
  </base-card>
</div>