<div class="search">
  <div class="item" *ngFor="let item of filters; let i = index">
    <div class="mdl-cellmdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        {{item.title}}
        <input class="mdl-textfield__input" (input)="filterChanged(item.key, $event.target.value)" type="text">
    </div>
  </div>
</div>
