<base-card>
  <base-card-title>
    <h2 class="mdl-card__title-text">Статистика по поставщикам</h2>
  </base-card-title>
  <base-card-body>
    <ul class="mdl-list">
    <li class="mdl-list__item">
      <span class="mdl-list__item-primary-content list__item-text">Поставщик1</span>
      <span class="mdl-list__item-secondary-content">
        <i class="material-icons trending__arrow-up" role="presentation">arrow_drop_up</i>
             </span>
      <span class="mdl-list__item-secondary-content trending__percent">15 %</span>
    </li>
    <li class="mdl-list__item list__item--border-top">
      <span class="mdl-list__item-primary-content list__item-text">Поставщик2</span>
      <span class="mdl-list__item-secondary-content">
               <i class="material-icons trending__arrow-down" role="presentation">arrow_drop_down</i>
             </span>
      <span class="mdl-list__item-secondary-content trending__percent">25 %</span>
    </li>
    <li class="mdl-list__item list__item--border-top">
      <span class="mdl-list__item-primary-content list__item-text ">Поставщик3</span>
      <span class="mdl-list__item-secondary-content">
               <i class="material-icons trending__arrow-up" role="presentation">arrow_drop_up</i>
             </span>
      <span class="mdl-list__item-secondary-content trending__percent">15 %</span>
    </li>
    <li class="mdl-list__item list__item--border-top">
      <span class="mdl-list__item-primary-content list__item-text">Поставщик4</span>
      <span class="mdl-list__item-secondary-content">
               <i class="material-icons trending__arrow-up" role="presentation">arrow_drop_up</i>
             </span>
      <span class="mdl-list__item-secondary-content trending__percent">18 %</span>
    </li>
    <li class="mdl-list__item list__item--border-top">
      <span class="mdl-list__item-primary-content">Поставщик5</span>
      <span class="mdl-list__item-secondary-content">
               <i class="material-icons trending__arrow-up" role="presentation">arrow_drop_up</i>
             </span>
      <span class="mdl-list__item-secondary-content trending__percent">17 %</span>
    </li>
  </ul>
  </base-card-body>
</base-card>
