app-filter-map {
    height: 250px;
    display: block;
    overflow: hidden;
}

app-filter-map,
app-filter-retail,
app-list {
    display: block;
    position: relative;
}

.minimazeMap {
    z-index: 2;
    position: relative;

    .togglerMap {
        background: #202020;
        box-shadow: 0 0 1px black;
        padding: 1px 7px;
        border-radius: 36px;
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 1;
        cursor: pointer;
        transition: 0.3s all;

        &.second {
            top: 72px;
        }

        &:hover {
            background: black;
        }

        img {
            width: 55px;
            height: 55px;
            margin: 0 0 0 6px;
            border-radius: 35px;
        }
    }

}

.pageTitle {
    margin: 8px 0 3px 0;
    text-align: center;
    font-size: 19px;
    color: white;
    text-decoration: underline;
}