<div class="pageTitle">
    {{pageTitle}}
</div>

<div *ngIf="!hideFilters" class="minimazeMap">
    <div class="togglerMap" (click)="mapToggleHide = !mapToggleHide">Карта <img src="/assets/icons/map.png"></div>
    <app-filter-map [hidden]="mapToggleHide" [center]="mapCenter" (onChange)="mapChangeFilter($event)" [objects]="dataListFilters"></app-filter-map>
</div>

<div  *ngIf="!hideFilters"  class="minimazeMap">
    <div class="togglerMap second" (click)="filtersToggleHide = !filtersToggleHide">Фильтры <img src="/assets/icons/setting.png"></div>
    <app-filter-retail [hidden]="filtersToggleHide" (onFilterChanged)="onFilterChanged($event)" [filters]="filters"></app-filter-retail>
</div>

<app-list [data]="dataListFilters" [urlItem]="urlItem"></app-list>