<base-card>

  <base-card-title>
    <h2>Информация об аккаунте</h2>
    <div class="mdl-card__subtitle">Пожалуйста заполните форму</div>
  </base-card-title>
  <base-card-body>
    <form action="#" class="form">
      <div class="form__article">
        <h3>Персональный данные</h3>

        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="firstName"  name="firstName" [(ngModel)] ="object.name" />
            <label class="mdl-textfield__label" for="firstName">Название организации</label>
          </div>
        </div>

        <div class="mdl-grid">
        
          <div class="mdl-cell mdl-cell--6-col">
            <material-angular-select [data]="['Поставщик', 'Магазин']"
                                  [label]="'Тип организации'"
                                  [name]="'тип организации'"
                                  name="type"
                             
                                  [fixHeight]="true"></material-angular-select>
          </div>
        </div>
      </div>

      <div class="form__article employer-form__contacts">
        <h3>Контакты</h3>

        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--9-col input-group">
            <i class="material-icons pull-left">call</i>

            <div class="mdl-textfield mdl-js-textfield pull-left">
              <input class="mdl-textfield__input" type="text" id="phone" name="phone" [(ngModel)] ="object.phone">
              <label class="mdl-textfield__label"  for="phone">XXX-XX-XX</label>
            </div>
          </div>

        </div>

        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--9-col input-group">
            <img src="assets/images/skype.svg">

            <div class="mdl-textfield mdl-js-textfield pull-left">
              <input class="mdl-textfield__input" [(ngModel)] ="object.skype" name="skype" type="text" id="skype" />
              <label class="mdl-textfield__label" for="skype">Skype</label>
            </div>
          </div>

        </div>

        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--9-col input-group">
            <i class="material-icons pull-left">mail_outline</i>

            <div class="mdl-textfield mdl-js-textfield pull-left">
              <input class="mdl-textfield__input" [(ngModel)] ="object.mail" name="mail" type="text" id="email" />
              <label class="mdl-textfield__label" for="email">Email</label>
            </div>
          </div>

        </div>

        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--9-col input-group">
            <i class="material-icons pull-left">place</i>

            <div class="mdl-textfield mdl-js-textfield pull-left">
              <input class="mdl-textfield__input" type="text" id="address" [(ngModel)] ="object.address" name="address"/>
              <label class="mdl-textfield__label"  for="address">Address</label>
            </div>
          </div>

        </div>

        <app-map-selector [center]="geoposition" (onSelect)="onSelectMap($event)"></app-map-selector>


      </div>

      <div class="form__article employer-form__general_skills">
        <h3>Немного о себе</h3>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <textarea class="mdl-textfield__input"  [(ngModel)] ="object.description" name="description" type="text" rows="3" id="AboutMe"></textarea>
          <label class="mdl-textfield__label" for="AboutMe">Общая информация</label>
        </div>
      </div>

      <div class="form__action">
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="isInfoReliable">
          <input #isInfoReliable type="checkbox" id="isInfoReliable" class="mdl-checkbox__input" required/>
          <span class="mdl-checkbox__label">Введенная информация достоверна</span>
        </label>
        <button (click)="registration()" [disabled]="!isInfoReliable.checked" id="submit_button"
                class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
          Сохранить
        </button>
      </div>
    </form>
  </base-card-body>
</base-card>

<div class="wrappInfoList">
  <app-list-products-seller idSeller="123"></app-list-products-seller>
</div>